.theme1 {
  
  .text-color {
    color: red!important;
  }
  .uni-list-item__content-title{
    color: red!important;
  }
}

.theme2 {
  
  .text-color {
    color: blue;
  }
  .uni-list-item__content-title{
    color: blue!important;
  }
}